$primary-color: rgb(54,100,74);
$background-color: rgb(87,177,189);
$skinFontFamily: 'Open Sans', arial !default;
$skinLogo: image-url('logo.png') no-repeat center center;
$filter-field-seperator-width: 25px;
$side-by-side-filter-input-width: 250px;