$primary-color: #4a2c7b;
$background-color: #444444;
$skinFontFamily: 'Open Sans', arial !default;
$skinLogo: image-url('logo.svg') no-repeat center center;
$filter-field-seperator-width: 25px;
$side-by-side-filter-input-width: 250px;